# ---- Java ----
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

# ---- Fabric / Loom build ----
/bin/
/out/
/build/
/run/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-app.setting

# ---- IDEs ----
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/

# ---- OS junk ----
.DS_Store
Thumbs.db


